@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Mooli&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.textMain{
    font-family: 'Inter', sans-serif;
}

.textSecondry{
    font-family: 'Mooli', sans-serif;
}

.textPrimary{
    font-family: 'Roboto', sans-serif;
}

.HomeProfile{
    background: url('/public/profile.jpg');
    width: 280px;
    height: 280px;
    background-size: cover;
    -webkit-background-size : cover;
    background-position: center center;
    border : 10px solid rgba(0, 0, 0, 0.5);
    animation: animateImage 4s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@media screen and (max-width : 350px) {
    .HomeProfile{
        width: 240;
        height: 240;
    }
}


@keyframes animateImage {
    0%{
        border-radius: 60% 50% 40% 70%/60% 40% 60% 50%;
    }
    50%{
        border-radius: 30% 50% 60% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 50% 40% 70%/60% 40% 60% 50%;
    }
}